<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tr class="field">
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name %>
  </tr>
  <tr class="field">
    <td><%= f.label :title %><br />
    <td><%= f.text_field :title %>
  </tr>
  <tr class="field">
    <td><%= f.label :content %><br />
    <td><%= f.text_area :content %>
  </tr>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
