<h1>Listing posts</h1>

<table border=1px >
  <tr width="100%">
    <th width="15%">Name</th>
    <th width="15%">Title</th>
    <th width="25%">Content</th>
    
  </tr>

<% @posts.each do |post| %>
  <tr width="100%">
    <td width="15%""><p><%= post.name %></p></td>
    <td width="15%"><p><%= post.title %></p></td>
    <td width="25%"><p><%= post.content %></p></td>
    <td width="15%"> <p><%= link_to 'Show', post %></p></td>
    <td width="15%"><p><%= link_to 'Edit', edit_post_path(post) %></p></td>
    <td width="15%"><p><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></p></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
